include LICENSE
include README.rst
include VERSION
include setup.py
include tox.ini
include requirements.txt
recursive-include silhouette *
recursive-exclude silhouette *.pyc
recursive-exclude silhouette *.pyo
recursive-exclude docs *
recursive-exclude tests *
