{% load silhouette_tags %}
{% spaceless %}
{% block formset %}
    {% block non_form_errors %}
        {% formset_errors formset %}
    {% endblock %}

    {% block management %}
        {{ formset.management_form }}
    {% endblock %}

    {% for subform in formset %}
        {% block errors %}
            {% form_errors subform %}
        {% endblock %}

        {% block fields %}
            {% form_fields subform %}
        {% endblock %}

        {% block controls %}
            {% block order %}
                {% if subform.ORDER %}
                    {{ subform.ORDER }}
                {% endif %}
            {% endblock %}

            {% block delete %}
                {% if subform.DELETE %}
                    {{ subform.DELETE }}
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endfor %}
{% endblock %}
{% endspaceless %}